<margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, sans-serif;>

<body background-color: #f9f9f9; color: #333; line-height: 1.6;>

<button bacground-color: #f39c12; color:white; padding: 10px 20px; border: none; border_radius:5px; cursor: pointer; font-sixe: 1em;>
